.ct-chart .ct-grid.ct-horizontal.axis {
	stroke: none !important;
	stroke-dasharray: none;
}

.ct-chart .ct-grid.ct-vertical.axis {
	stroke: none !important;
	stroke-dasharray: none;
}

.ct-legend{

	padding-left: 3px;
	padding-right: 3px;
	position: absolute;
	border-radius: 5px;
	background-color: azure;
	position: absolute;
	border: solid 2px silver;  /*#e8e8e8;*/
}
.ct-label-snm {
    display: none;
    padding: 1px;
    font-weight: 600;
    line-height: 1;
    color:  #b0b0b0;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}
.ct-label-lbl {
    display: none;
    padding: 1px;
    font-weight: 600;
    line-height: 1;
    color:  plum;
    text-align: left;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}
.ct-label-val {
    display: none;
    padding: 1px;
    font-weight: 600;
    line-height: 1;
    color:  lawngreen;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}

.ct-cross-line {
  stroke: grey;
  stroke-width: 1px;
}

.arrow_rbox {
	display: none !important;
    color:black;
    padding:0px;
    position: absolute;
    background: aliceblue;
    border: 2px solid #e8e8e8;
    text-align: center;
    font-size:0.8em;
    z-index:1;
    min-width: 38px;
} 
